@model DAL.Good
    @{
        ViewBag.Title = "Good";
    }
    @foreach (var p in ViewBag.Good)
    {
        <div class="item">
            <h3>@p.GoodName</h3>
            @p.ShortDescription
            <h4>@p.Price.ToString("c")</h4>
        </div>
    }